.user__avatar {
  width: 200px;
  height: 200px;
}

.comment__author-avatar {
  width: 62px;
  height: 62px;

  .avatar {
    .avatar-image {
      transform: scale(1.3);
      object-position: 0 10px;
    }
  }
}

.avatar {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-image {
  width: 100%;
  object-fit: cover;
}