.bg-wrapper {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &_top {
    background-image: url("../images/content/intro_bg.jpg");
  }

  &_bottom {
    background-image: url("../images/content/i9GY3R67X.jpg");
  }
}
