.leaf {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: inherit;
}

.leaf-image-4 {
  position: absolute;
  right: 0;
  top: -11%;
}

.leaf-image-3 {
  position: absolute;
  right: 20%;
  top: 31%;
}

.leaf-image-2 {
  position: absolute;
  right: 10%;
  top: 49%;
}

.leaf-image-1 {
  position: absolute;
  right: 10%;
  top: 69%;
}