.skill {
  position: relative;
  width: 150px;
}

.skills__item {
  margin-right: 20px;
}

.skill__title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "open-sans-bo";
  font-size: 18px;
  opacity: 0.5;
}

.skill__circle {
  fill: transparent;
  &_under {
    stroke: #464341;
    stroke-width: 3px;
  }
  &_above {
    stroke-width: 6px;
    stroke-dasharray: 295;
    stroke-dashoffset: 100;
  }
}
