.works {
  display: flex;
  align-items: center;
  justify-content: center;
}

.works__container {
  padding: 11.5% 0;
}

.works__title {
  font-family: "open-sans-bo";
  font-size: 36px;
  color: $dark_blue-color;
  margin-bottom: 80px;
}
