.works__container {
  display: flex;
  flex-direction: column;
}

.works__title {
  font-family: "open-sans-bo";
  font-size: 36px;
  color: $dark_blue-color;
  margin-bottom: 80px;
  margin-top: 13.5%;
}

.works__content {
  margin-bottom: 13.5%;
}