//- .reviews__comments
//-   -
//-     var commentList = [
//-       {
//-         ava: "content/userfiles/o8CzkPF3Ai8.jpg",
//-         author: "Ковальчук Дмитрий",
//-         position: "Основатель LoftSchool",
//-         text: "Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!"
//-       }, {
//-         ava: "content/userfiles/Di51WMRvTek.jpg",
//-         author: "Владимир Сабанцев",
//-         position: "Преподаватель",
//-         text: "Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах"
//-       }
//-     ]
//-   each comment in commentList
//-     .comment__wrapper
//-       +icon('quote', 'comment__quote-icon')
//-       .comment
//-         article.comment__text=comment.text
//-         .comment__author
//-           .comment__author-avatar
//-             .avatar
//-               +image(comment.ava, 'user-pic', 'avatar-image')
//-           .comment__author-desc
//-             .comment__author-name=comment.author
//-             .comment__author-pos=comment.position