.reviews__slider
  h2.reviews__title Что обо мне говорят
  .reviews__btns
    a.reviews-btn.reviews-btn--prev
      +icon('arrow-down', 'slider-arrow')
    a.reviews-btn.reviews-btn--next
      +icon('arrow-down', 'slider-arrow')
  include ./comments