nav.hamburger-menu
  //- input#checkbox.hamburger-menu__checkbox(type='checkbox')
  button(type='button').hamburger-menu__btn
    .hamburger-menu__icon
  .hamburger-menu__container
    ul.hamburger-menu__list