section.parallax
  .parallax__layer(data-speed="0.1")
    +image('content/parallax/1.jpg', 'parallax-picture', 'parallax-top__image')
  .parallax__layer(data-speed="0.13")
    +image('content/parallax/2.png', 'parallax-picture', 'parallax-top__image')
  .parallax__layer(data-speed="0.16")
    +image('content/parallax/3.png', 'parallax-picture', 'parallax-top__image')
  .parallax__layer(data-speed="0.2")
    +image('content/parallax/4.png', 'parallax-picture', 'parallax-top__image')
  .parallax__layer(data-speed="0.2")
    +image('content/parallax/5.png', 'parallax-picture', 'parallax-top__image')
  .parallax__layer(data-speed="0.2")
    +image('content/parallax/6.png', 'parallax-picture', 'parallax-top__image')
  .parallax__layer(data-speed="0.2")
    +image('content/parallax/7.jpg', 'parallax-picture', 'parallax-top__image') 