section.parallax
  .parallax__layer
    +image('content/parallax/1.jpg', 'parallax-picture', 'parallax-top__image')
  .parallax__layer
    +image('content/parallax/2.png', 'parallax-picture', 'parallax-top__image')
  .parallax__layer
    +image('content/parallax/3.png', 'parallax-picture', 'parallax-top__image')
  .parallax__layer
    +image('content/parallax/4.png', 'parallax-picture', 'parallax-top__image')
  .parallax__layer
    +image('content/parallax/5.png', 'parallax-picture', 'parallax-top__image')
  .parallax__layer
    +image('content/parallax/6.png', 'parallax-picture', 'parallax-top__image') 