section.progress
          .container.progress__container
            .progress__desc-block
              h2.progress__title Чем я могу быть полезен вам
              .progress__desc-text
                | Этот сайт я сделал в рамках обучения в Школе онлайн образования
                | LoftSchool. Чуть позже я освежу в нём свой контент. А пока
                | посмотрите, как тут всё классно и красиво!
            .progress__skills-block
            #skills-component