include ./mixins.pug
doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Portfolio | main page
  body
    main.main__content

      .bg-wrapper.bg-wrapper_top
        include ./sections/welcome
        include ./sections/about
      include ./sections/progress
      include ./sections/works

      //- .bg-wrapper.bg-wrapper_buttom
      //-   include ./sections/reviews
      //-   include ./sections/contact
        
    include ./sections/footer