include ./mixins.pug
doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Portfolio | main page
  body
    main.main__content

      .parallax-wrapper
        include ./sections/parallax-top
        .welcome-section
          include ./sections/welcome
          include ./sections/about
      include ./sections/progress
      include ./sections/works

      .bg-wrapper.bg-wrapper_bottom
        .leaf
          +image('content/4.png', 'leaf', 'leaf-image-4')
          +image('content/3.png', 'leaf', 'leaf-image-3')
          +image('content/2.png', 'leaf', 'leaf-image-2')
          +image('content/1.png', 'leaf', 'leaf-image-1')
        include ./sections/reviews
        include ./sections/contact
        
    include ./sections/footer